.boot-screen{

height:100vh;
width:100%;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

background:
radial-gradient(circle,
#073c55,
#020817 45%,
#000);

color:#00ffff;

font-family:'Courier New',monospace;

overflow:hidden;

position:relative;

}


/* GRID */

.boot-screen:before{

content:"";

position:absolute;

inset:0;

background:
linear-gradient(
90deg,
rgba(0,255,255,.05) 1px,
transparent 1px
),
linear-gradient(
rgba(0,255,255,.05) 1px,
transparent 1px
);

background-size:45px 45px;

}



/* CORE */

.core-orb{

position:absolute;

width:150px;
height:150px;

border-radius:50%;

top:35%;

left:50%;

transform:translate(-50%,-50%);

background:
radial-gradient(
circle,
white 0%,
#00ffff 20%,
#008cff 45%,
transparent 70%
);

box-shadow:
0 0 50px cyan,
0 0 120px cyan;

animation:orbPulse 2s infinite;

z-index:1;

}


@keyframes orbPulse{


0%{

scale:.8;

opacity:.8;

}


50%{

scale:1.15;

opacity:1;

}


100%{

scale:.8;

opacity:.8;

}


}



/* TITLE */

h1{

position:relative;

z-index:5;

font-size:60px;

letter-spacing:18px;

margin-bottom:80px;

text-shadow:
0 0 20px cyan,
0 0 60px cyan;

}





/* PROGRESS */

.progress-container{


position:relative;

z-index:5;


}


.progress-bar{


width:500px;

height:18px;

border:

2px solid cyan;


border-radius:20px;


background:#00131f;


overflow:hidden;


box-shadow:

0 0 20px cyan;

}



.progress-fill{


height:100%;


background:

linear-gradient(
90deg,
cyan,
blue,
cyan
);


transition:.2s;


}





/* LOG BOX */


.logs{


position:relative;

z-index:5;


margin-top:45px;


width:450px;


padding:22px;


border-radius:18px;


background:

rgba(0,20,40,.85);


border:

1px solid cyan;


box-shadow:

0 0 40px rgba(0,255,255,.4);


backdrop-filter:blur(15px);

min-height:120px;

}





.log-item{


font-size:16px;

margin:10px 0;

animation:show .5s;

}



.log-item span{

color:white;

}




@keyframes show{

from{

opacity:0;

transform:translateX(-20px);

}

to{

opacity:1;

}

}





.progress-percent{


z-index:5;

margin-top:35px;


font-size:32px;


font-weight:bold;


text-shadow:

0 0 25px cyan;


}

.fade-out{

animation:bootFade 1.5s ease forwards;

}


@keyframes bootFade{


0%{

opacity:1;

transform:scale(1);

filter:blur(0);

}


100%{

opacity:0;

transform:scale(1.3);

filter:blur(20px);

}


}

