.window {

position:absolute;

background:
rgba(4,10,25,.94);

border:

1px solid rgba(0,230,255,.7);

border-radius:14px;

display:flex;

flex-direction:column;

overflow:hidden;

user-select:none;


box-shadow:

0 0 40px rgba(0,230,255,.25);


animation:

windowOpen .35s ease;


transition:

width .3s,
height .3s,
top .3s,
left .3s,
opacity .3s,
transform .3s;

transition:

left .25s ease,
top .25s ease,
width .25s ease,
height .25s ease,
box-shadow .25s ease;

}



.window.minimized {

opacity:0;

transform:

scale(.6);

pointer-events:none;

}



.window.closing {


opacity:0;

transform:

scale(.8);

}



.title-bar {


height:38px;

display:flex;

align-items:center;

justify-content:space-between;


padding:

0 12px;


background:

rgba(0,230,255,.12);


border-bottom:

1px solid rgba(0,230,255,.25);


cursor:move;


}



.window-icon{

font-size:18px;

}



.window-title{


color:#00eaff;

font-weight:bold;

font-size:16px;

}



.window-controls{


display:flex;

gap:6px;

}



.window-controls button{


width:26px;

height:24px;


border:none;

background:transparent;


color:#00eaff;


cursor:pointer;


border-radius:5px;

font-weight:bold;


}



.window-controls button:hover{


background:

rgba(0,230,255,.25);


}



.close-btn:hover{


color:#ff5555!important;

box-shadow:

0 0 15px red;


}



.window-content{


flex:1;

padding:15px;

overflow:auto;


}



/* Resize */

.resize-handle{


position:absolute;


right:0;

bottom:0;


width:14px;

height:14px;


cursor:se-resize;


}



/* Active window */

.window:hover{


box-shadow:


0 0 70px rgba(0,230,255,.45);


}




@keyframes windowOpen{


from{


opacity:0;

transform:

scale(.85)
translateY(30px);


}



to{


opacity:1;

transform:

scale(1)
translateY(0);


}


}