.clock-card{

position:absolute;

top:30px;

right:40px;

text-align:right;

color:#4deeff;

z-index:30;

font-family:Arial;

}

.clock{

font-size:42px;

font-weight:bold;

text-shadow:0 0 20px #00eaff;

}

.day{

margin-top:5px;

font-size:18px;

opacity:.9;

}

.date{

font-size:15px;

opacity:.7;

}