<div class="modules-panel">

<h2>MODULES</h2>


<div
class="module-item"

*ngFor="let module of modules"

[class.booting]="module.status === 'BOOTING'"

[class.online]="module.status === 'ONLINE'"

>


<div class="module-left">


<span
class="dot"

[class.booting]="module.status === 'BOOTING'"

[class.online]="module.status === 'ONLINE'"

></span>


<span>
{{module.name}}
</span>


</div>



<div class="module-status">


<span *ngIf="module.status==='OFFLINE'">
OFFLINE
</span>


<span 
*ngIf="module.status==='BOOTING'"
class="booting-text">

BOOTING

</span>



<span 
*ngIf="module.status==='ONLINE'"
class="online-text">

ONLINE

</span>


</div>


</div>


</div>