.modules-panel {

  padding: 30px;

  background:
  rgba(5,10,25,0.75);

  border:1px solid rgba(0,230,255,0.35);

  border-radius:22px;

  box-shadow:
  0 0 30px rgba(0,230,255,0.15);

  backdrop-filter:blur(15px);

}



.modules-panel h2 {

  color:white;

  font-size:28px;

  margin-bottom:25px;

  letter-spacing:1px;

}



/* MODULE ROW */

.module-item {

  height:45px;

  display:flex;

  align-items:center;

  justify-content:space-between;

  padding:0 15px;

  margin-bottom:12px;

  border-radius:10px;

  color:#00eaff;

  transition:.3s ease;

}



/* LEFT SIDE */

.module-left {

  display:flex;

  align-items:center;

  gap:15px;

}



/* MODULE NAME */

.name {

  flex:1;

  font-size:18px;

}



/* STATUS */

.module-status {

  font-size:17px;

  font-weight:bold;

}



/* DOT */

.dot {

  width:10px;

  height:10px;

  border-radius:50%;

  background:#334155;

  box-shadow:
  0 0 10px #334155;

  transition:.3s;

}



/* ======================
   BOOTING STATE
====================== */


.module-item.booting {

  color:#ffd700;

  background:
  rgba(250,204,21,0.08);

  border-left:
  3px solid #ffd700;

  animation:bootPulse 1s infinite;

}



.module-item.booting .dot {

  background:#ffd700;

  box-shadow:
  0 0 20px #ffd700;

  animation:
  dotPulse 1s infinite;

}



.booting-text {

  color:#ffd700;

}





/* ======================
   ONLINE STATE
====================== */


.module-item.online {

  color:#22ff88;

  background:
  rgba(0,255,120,0.12);

  border-left:
  3px solid #22ff88;

}



.module-item.online .dot {

  background:#22ff88;

  box-shadow:
  0 0 10px #22ff88,
  0 0 25px #22ff88;

}



.online-text {

  color:#22ff88;

}





/* ======================
   OFFLINE STATE
====================== */


.module-item:not(.online):not(.booting) {

  color:#00eaff;

}


.module-item:not(.online):not(.booting) .dot {

  background:#334155;

  box-shadow:
  0 0 10px #334155;

}





/* HOVER */

.module-item:hover {

  transform:translateX(5px);

  background:
  rgba(0,230,255,0.08);

}





/* ANIMATIONS */


@keyframes bootPulse {


  0%,100% {

    opacity:1;

  }


  50% {

    opacity:.45;

  }


}



@keyframes dotPulse {


  0%,100% {

    transform:scale(1);

  }


  50% {

    transform:scale(1.5);

  }


}